img{
    width: 100%;
}
.bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -999;
}
.bg img {
    min-height: 100%;
    width: 100%;
}
.but{
    
    align-items: center;
    text-align: center;
    
}
.but2{
    
    align-items: center;
    text-align: center;
    
}

.but button{
    background-image: linear-gradient(to top,#f4bfae 0% , #fffaf4 100%);
    font-weight:bold;
}
.but2 button{
    background-image: linear-gradient(to top,#f4bfae 0% , #fffaf4 100%);
    font-weight:bold;
}

.but button:hover {
    border: solid 2px #333;
    color: #333;
    background:white;
    transform: scale(1.1) ;
    transition:all 0.8s ease 0s;
}
.but2 button:hover {
    border: solid 2px #333;
    color: #333;
    background:white;

}


